@charset "UTF-8";

/* basic page layout */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  box-sizing: inherit;
  height: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Grid layout */

main {
  height: 100%;
  display: grid;
  grid-template-areas:
    "arrow form"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px;
  justify-content: center;
}

section:first-of-type {
  grid-area: arrow;
  padding: 2rem 0;
  background-color: #030201;
}

section:last-of-type {
  background-color: #d48669;
  grid-area: form;
}

footer {
  background-color: khaki;
  grid-area: footer;
}

/* the arrow section */

section:first-of-type div {
  position: relative;
  width: 65%;
  padding: 1.5rem;
  border: 2px solid#d48669;
  border-left: none;
  margin-left: 3rem;
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  50% {
    transform: translateX(10px);
  }
}

section:first-of-type div::after {
  content: "";
  position: absolute;
  height: 10%;
  border: 60px dashed transparent;
  border-left-color: #d48669;
  top: -35px;
  right: -110px;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 3rem;
  color: #c09181;
  margin: 18rem 0 2.5rem 5rem;
}

/* form section */

form {
  width: 60%;
  background-color: #100d08;
  padding: 2rem;
  margin: 10rem auto 0;
  display: grid;
  grid-template-areas:
    "firstname lastname"
    "passone passtwo"
    "email email"
    "button button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

label {
  color: #f9f0ff;
  display: block;
  font-family: "Overpass", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}

input {
  display: block;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #c09181;
}

label:nth-of-type(1) {
  grid-area: firstname;
}

label:nth-of-type(2) {
  grid-area: lastname;
}

label:nth-of-type(3) {
  grid-area: passone;
  position: relative;
}

label:nth-of-type(4) {
  grid-area: passtwo;
}

label:nth-of-type(5) {
  position: relative;
  grid-area: email;
}

#firstname,
#passwordOne {
  width: 95%;
}

input:focus-within {
  background-color: #f9f0ff;
  border-bottom: 4px solid #c09181;
}

form button {
  grid-area: button;
  background-color: #d48669;
  border-radius: 3px;
  font-family: "Caveat Brush", cursive;
  border: 1px solid #100d08;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  display: block;
  margin: 1rem 0 0;
}

form button:hover {
  background-color: #f9f0ff;
}

form ~ button {
  display: block;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #f9f0ff;
  width: 60%;
  margin: 2rem auto;
  padding: 0.5rem 0;
  border-radius: 5px;
}

form ~ button a {
  color: #f9f0ff;
  font-weight: 300;
}
form ~ button:hover {
  background-color: #224ba1;
}

.fab {
  display: inline-block;
  margin-right: 0.8rem;
}

form span {
  display: none;
}
/* form label:first-of-type span {
  display: none;
}

form label:nth-of-type(2) span {
  display: none;
}

form label:nth-of-type span {
  display: none;
}

form label:first-of-type span {
  display: none;
} */
/* error messages */

form span {
  color: red;
}

/* footer */

footer {
  text-align: center;
  background-color: #f9f0ff;
  padding: 1rem 0;
  font-size: 1.3rem;
  font-family: "Caveat Brush", cursive;
}

footer a {
  color: #030201;
  font-size: 1.2rem;
}

/* responsiveness */
@media screen and (max-width: 1220) and (min-width: 1000px) {
  form {
    width: 75%;
  }

  form ~ button {
    width: 75%;
  }
}

@media screen and (max-width: 999px) and (min-width: 800px) {
  h1 {
    margin: 16rem 0 2.5rem 5rem;
  }

  form {
    width: 85%;
  }

  form ~ button {
    width: 85%;
  }
}

@media screen and (max-width: 799px) and (min-width: 670px) {
  h1 {
    margin: 20rem 0 2.5rem 5rem;
  }

  form {
    width: 80%;
    margin: 5rem auto 0;
    grid-template-areas:
      "firstname"
      "lastname"
      "passone"
      "passtwo"
      "email"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #firstname,
  #passwordOne {
    width: 100%;
  }

  form ~ button {
    width: 80%;
  }
}

@media (max-width: 669px) {
  form {
    width: 65%;
    margin: 3rem auto 0;
  }

  section:first-of-type div {
    display: none;
  }

  main {
    grid-template-areas:
      "arrow"
      "form"
      " footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 50px;
    justify-content: center;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  form ~ button {
    width: 65%;
  }
}

@media screen and (max-width: 499px) and (min-width: 100px) {
  form {
    width: 80%;
    grid-template-areas:
      "firstname"
      "lastname"
      "passone"
      "passtwo"
      "email"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #firstname,
  #passwordOne {
    width: 100%;
  }

  form ~ button {
    width: 80%;
  }
}
